
:root {
	--background-color: #161616;
	--background-color--raised: #1c1c1c;
	--font-color: #cfcfcf;
	--font-color--disabled: #464646;
	--highlight-color: #202020;

	--widget-background-color: #333333;
	--widget-background-color--hovered: #414141;
	--widget-background-color--active: #525252;

	--widget-background-color--positive: #25502e;
	--widget-background-color--positive--hovered: #306a3c;
	--widget-background-color--positive--active: #40894f;

	--widget-background-color--negative: #5c2929;
	--widget-background-color--negative--hovered: #723232;
	--widget-background-color--negative--active: #853b3b;

	--widget-background-color--neutral: #2f3d64;
	--widget-background-color--neutral--hovered: #384a7a;
	--widget-background-color--neutral--active: #435995;

	--normal-font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	color: var(--font-color);
	font-size: var(--normal-font-size);
	font-family: "Open Sans", sans-serif;
}

hr {
	color: var(--widget-background-color);
}

body {
	background: var(--background-color);
}

button {
	border: none;
	border-radius: 0;
	padding: 10px;
	cursor: pointer;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select {
	border: none;
	border-radius: 0;
	padding: 10px;
}

input[type="text"], input[type="password"] {
	background: var(--widget-background-color);
	border: none;
	padding: 5px;
}

#main-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#fps-label {
	color: white;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
